.site-navigation {
  height: 65px;
  width: 100%;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  color: $text-color;

  .menu-title {
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }
  .menu-content-container {
    display: flex;
    align-items: center;
    margin-right: 30px;
    .ant-avatar {
      background: $background;
      border: 1px solid $border;
    }
    .menu-avatar-name{
      font-size: 18px;
      margin-left: 15px
    }
  }
  ul {
    height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-right: 20px;

    a {
      text-decoration: none;
      padding: 0 20px;
      font-size: 20px;
      color: $text-color;

      &:hover {
        color: $text-link;
      }
    }
  }
}
